[submodule "custom_dockers"]
	path = custom_dockers
	url = https://github.com/hariharan20/custom_dockers
	branch = laas_noetic_2
[submodule "cohan_planner_multi"]
	path = cohan_planner_multi
	url = https://github.com/hariharan20/cohan_planner_multi
	branch = noetic-devel
[submodule "gazebo-ros-actor-plugin"]
	path = gazebo-ros-actor-plugin
	url = https://github.com/sphanit/gazebo-ros-actor-plugin
[submodule "cohan_attr"]
	path = cohan_attr
	url = https://github.com/hariharan20/cohan_attr
	branch = ecohan_dev
[submodule "CoHAN_Navigation"]
	path = CoHAN_Navigation
	url = git@github.com:hariharan20/CoHAN_Navigation
	branch = multi
